:root {
  --main-background: #d9d9d9;
  --container-color: #f4f3f3;
  --text-add: #919191;
}
body {
  margin: 0;
  background-color: var(--main-background);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.add-fild {
  display: flex;
  max-width: 384px;
  min-height: 85px;
  background-color: var(--container-color);
  border-radius: 15px;
  margin-top: 22px;
  margin-left: 22px;
  justify-content: center;
  align-items: center;
}
.add-fild-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.task-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-add);
  margin-left: 63px;
  align-content: center;
}
.add-btn {
  display: block;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: var(--main-background);
  border: none;
  cursor: pointer;
  margin-right: 38px;
}
.add-icon {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
