:root {
  --main-background: #d9d9d9;
  --container-color: #f4f3f3;
  --text-add: #919191;
  --task-fild: #edeaea;
}
body {
  margin: 0;
  background-color: var(--main-background);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.add-section {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  /* min-height: 85px; */
  background-color: var(--container-color);
  border-radius: 15px;
  margin-top: 22px;
}

.add-fild-container {
  width: 100%;
  display: flex;
  padding: 14px;
  align-items: center;
  justify-content: space-between;
}

.add-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-add);
  margin-left: 20px;
  align-content: center;
}
.add-btn {
  display: block;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: var(--main-background);
  border: none;
  cursor: pointer;
  margin-right: 38px;
}
.add-icon {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
.task-section {
  display: block;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 22px;
  max-width: 350px;
}

.task-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
.inside-card-list {
  width: 100%;
}

.color-picker {
  display: flex;
  position: relative;
}
.card-item {
}
.color-option-list {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  grid-template-columns: repeat(3, 30px);
  gap: 10px;
  z-index: 1;
  background-color: rgb(255 255 255 / 50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  backdrop-filter: blur(30px);
  transition: transform 0.3s ease;
}
.show-grid {
  display: grid;
  transition: transform 0.3s ease;
}

.color-change {
  display: flex;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  border: none;
  background: conic-gradient(red, orange, yellow, green, blue, purple, red);
  color: #fff;
  cursor: pointer;
}

.color-option-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}
.color-option:hover {
  transform: scale(1.1);
}

.card-list {
}

.title-color {
  display: flex;
  justify-content: space-between;
}
.item-title {
  display: flex;
  /* justify-content: flex-start; */
  /* margin-right: 43px; */
  margin-left: 14px;
}
.inside-text-fild {
  width: 100%;
}
.task-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-add);
  align-content: center;
}
.task-text {
  background-color: var(--task-fild);
  border: none;
  border-radius: 15px;
  width: (100% - 10px);
  /* min-height: 100px; */
  margin-top: 10px;
  outline: transparent;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 10px;
  color: #5c5c5c;
}
/* #task-fild {
  background-color: var(--task-fild);
  border: none;
  border-radius: 15px;
  width: 100%;
  margin-top: 10px;
  outline: transparent;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
} */

.btn-container {
  display: flex;
  width: 100%;
  margin-top: 14px;
  justify-content: flex-end;
}
.edit-btn {
  width: 96px;
  height: 45px;
  background-color: #0085ff;
  border-radius: 10px;
  border: none;
  margin-right: 11px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  align-content: center;
  cursor: pointer;
}
.delete-btn {
  width: 96px;
  height: 45px;
  background-color: #ff0000;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  align-content: center;
  cursor: pointer;
}
